@font-face { font-family: D-DIN-Bold; src: url(fonts/D-DIN-Bold.otf);}
@font-face { font-family: D-DIN-Italic; src: url(fonts/D-DIN-Italic.otf);}
@font-face { font-family: D-DIN; src: url(fonts/D-DIN.otf);}
@font-face { font-family: D-DINCondensed-Bold; src: url(fonts/D-DINCondensed-Bold.otf);}
@font-face { font-family: D-DINCondensed; src: url(fonts/D-DINCondensed.otf);}
@font-face { font-family: D-DINExp-Bold; src: url(fonts/D-DINExp-Bold.otf);}
@font-face { font-family: D-DINExp-Italic; src: url(fonts/D-DINExp-Italic.otf);}
@font-face { font-family: D-DINExp; src: url(fonts/D-DINExp.otf);}


body{
	margin: 0!important;
	background: #000!important;
	& p, span, h3, h5, a, li, button {
		color: #fff;
		font-family: 'D-DIN';
	}
	h1{
		color: #fff;
		font-family: 'D-DIN-Bold';
	}
	
}

.cursor-pointer{
	cursor: pointer;
}

//Estilos de header
.header{
    width: 100%;
	min-height: 1050px;
	position: relative;
	.bd-example{
		position: absolute;
		z-index: 1;
		width: 100%;
		.carousel-control-prev{
			left: 30%;
			z-index: 9999999;
			display: none;
			span{
				background-image: url('../img/left.png');
				margin-top: 90px;
			}
		}
		.carousel-control-next{
			right: 26%;
			z-index: 999999;
			display: none;
			span{
				background-image: url('../img/right.png');
				margin-top: 90px;
			}
		}
		.carousel-caption{
			right: 0;
			bottom: 38.5%;
			left: 0;
			p{
				position: absolute;
				bottom: 90px;
				left: 100px;
				font-size: 24px;
				letter-spacing: 8px;
				margin-bottom: 5px;
				//font-family: 'Muli', sans-serif;
				&.movie{
					bottom: 40px;
					display: block;
					letter-spacing: 0;
					font-size: 20px;
				}
				&.amazon{
					bottom: 15px;
					display: block;
					letter-spacing: 0;
					font-size: 20px;
				}
			}
		}
		.progress-cart{
			display: flex;
			font-size: 10px;
			width: 29%;
			margin: auto;
			top: -55px;
			position: absolute;
			left: 100px;
			.number{
				margin-top: 0px;
			}
			.progress{
				width: 80%;
				height: 2px;
				background: gray;
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 5px;
				margin-top: 6px;
				.full{
					width: 14.28%;
					height: 2px;
					background: lightgray;
					border-radius: 5px;
					&.two{
						width: 16.6%!important;
					}
					&.three{
						width: 33.2%!important;
					}
					&.four{
						width: 49.8%!important;
					}
					&.five{
						width: 83%!important;
					}
					&.six{
						width: 100%!important;
					}
					&.seven{
						width: 100%!important;
					}
				}
			}
		}
	}
	.navigation-bar{
		position: absolute;
		width: 100%;
		z-index: 3;
	}
	.container-fluid{
		display: flex;
    	position: absolute;
    	height: 50%;
    	top: 15%;
	}
	.scroll{
		bottom: 50%;
	}
}

.b-middle{
	bottom: 60%!important;
}
.enfoque{
	position: relative;
	padding: 30px 0px;
	.row-enfoque{
		padding: 0;
		background-image: url('../img/nuestro\ enfoque.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		height: 560px;
		transform-style: preserve-3d;
		transform: translate3d(0px, 56px, 0px);
		.enfoque-image{
			width: 100%;
		}
		p{
			-webkit-font-smoothing: antialiased !important;
			position: relative;
			text-align: center;
			color: white;
			line-height: 0.8;
			margin: auto;
			margin-top: 19%;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
			transform-origin: 50% 50% 0px;
			transition: top 5s;
			&.go{
				font-size: 50px;
				margin-top: 30px;
				cursor: pointer;
			}
			&.title{
				font-size: 100px;
			}
		}
	}
	
}

.cartelera{
	position: relative;
	padding: 30px 0px;
	h1{
		margin-bottom: 40px;
	}
	.wrapper-card{
		display: flow-root;
		position: relative;
		width: 100%;
		padding: 0;
		.card-image{
			width: 30%;
			display: inline-grid;
			margin: 2.1%;
			height: 315px;
			position: relative;
			&:hover{
				opacity: 0.4;
			}
			&:nth-of-type(3n){
				margin-right: 0px;
			}
			&:nth-of-type(4n), &:first-of-type{
				margin-left: 0px;
			}
			img{
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
			p{
				position: absolute;
				top: 40%;
				width: 100%;
				text-align: center;
				margin-bottom: 5px;
				font-size: 25px;
				cursor: pointer;
			}
			.separator{
				width: 30%;
				height: 2px;
				background-color: white;
				position: absolute;
				position: absolute;
				top: 10px;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}

.servicios{
	h1{
		margin-bottom: 40px;
	}
	#carousel-services{
		width: 80%;
		margin: auto;
		position: absolute;
		top: 42%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		.services{
			width: 180px;
    		height: 200px;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			&.serv-1{
				background-image: url('../img/serv-1.png');
				background-size: 180px;
				float: left;
				margin-right: 15px;
			}
			&.serv-2{
				background-image: url('../img/serv-2.png');
				float: right;
				margin-left: 15px;
			}
		}
		.title{
			margin-top: 60px;
			margin-bottom: 32px;
		}
		.description{
			font-size: 10px;
			.flecha{
				cursor: pointer;
			}
		}
		.carousel-indicators{
			li{
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}
		}
		.figure-l{
			width: 70%;
			height: 80px;
			position: absolute;
			z-index: -1;
			&.b-top{
				border-top: 2px solid white;
				border-right: 2px solid white;
				right: 0px;
				top: 100px;
			}
			&.b-bottom{
				border-bottom: 2px solid white;
				border-left: 2px solid white;
				bottom: 100px;
				left: 0px;
			}
		}
		.carousel-control-prev{
			width: 50px;
			height: 50px;
			top: 85.5%;
			position: absolute;
			left: 44%;
		}
		.carousel-control-next{
			width: 50px;
			height: 50px;
			top: 85.5%;
			position: absolute;
			right: 44%;
		}
		.carousel-control-next-icon, .carousel-control-prev-icon{
			width: 12px;
			height: 12px;
		}
	}
}

.servicios{
	position: relative;
	padding: 30px 0px;
}

.top-20{
	top: 20%!important;
}


//Elementos separados
.scroll{
	color: #fff;
	transform: rotate(90);
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	font-family: 'D-DIN';
	position: absolute;
	font-size: 12px;
    bottom: 20%;
	cursor: pointer;
	.icon-scroll{
		margin-left: 7px;
		font-size: 12px;
	}
}

.social-media{
	position: absolute;
	right: 0px;
	display: grid;
	z-index: 0;
	a{
		color: #fff;
		text-decoration: none;
		padding: 15px 35px;
		position: relative;
		//font-family: sans-serif;
		font-size: 11px;
		.tooltip{
			position: absolute;
			right: 58px;
			width: 153px;
			top: 14px;
			display: none;
			//font-family: serif;
			text-align: left;
			font-size: 12px;
		}
		.share{
			background-image: url('../img/icon-share.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 14px;
			height: 14px;
			display: block;
		}
		&:hover{
			background-image: url('../img/AZULTWITTER.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 20px 1px;
			color: white;
			text-decoration: none;
			text-align: center;
			.tooltip{
				display: block;
				opacity: 1;
			}
		}
	}
	p{
		color: #fff;
		font-size: 10px;
		text-align: center;
		//font-family: 'Muli', sans-serif;
		&:first-of-type{
			margin-top: 25px;
		}
	}
	.progress{
		width: 2px;
		height: 30px;
		background: gray;
		margin: auto;
		border-radius: 5px;
		.fill{
			width: 2px;
			height: 70%;
			background: lightgray;
			border-radius: 5px;
		}
	}
}

.navigation-bar{
	color: #fff;
	display: flex;
	.icon-cinema{
		display: inline-flex;
		width: 200px;
		height: 100px;
		background-image: url(../img/logo226.svg);
		background-repeat: no-repeat;
		background-position: 40px 20px;
		background-size: 70px;
	}
	ul{
		list-style-type: none;
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		li{
			padding: 30px 20px;
			//font-family: 'Muli', sans-serif;
			font-size: 12px;
			visibility: visible;
			transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);;
			opacity: 1;
			cursor: pointer;
			.icon-menu{
				width: 50px;
				height: 35px;
				display: block;
				background-image: url(../img/barras_del_menu.svg);
				background-repeat: no-repeat;
				margin-top: -6px;
				background-position: bottom;
			}
		}
		&.ocult-all{
			li{
				visibility: hidden;
				opacity: 0;
				transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);;
				&:last-of-type{
					visibility: visible;
  					opacity: 1;
				}
			}
		}
	}
}

.modal{
	.modal-lg{
		max-width: 95% !important;
	}
	.modal-content{
		background: #000;
	}
	.modal-header{
		border-bottom: none;
		justify-content: center;
	}
	.modal-body{
		.gray{
			color: #626166;
			background-image: url("../img/pizarra.png");
			background-repeat: no-repeat;
			background-position-x: right;
			padding-right: 37px;
			&.second{
				background-position: 53px 0px;
			}
		}
		img{
			width: 100%;
			margin-bottom: 20px;
		}
		.early-years{
			margin-left: 40px;
		}
		.space{
			padding: 15px 10px;
		}
		.img-modal{
			position: relative;
			.title{
				position: absolute;
				top: 33%;
				font-size: 90px;
				text-align: center;
				width: 100%
			}
		}
	}
	.btn-dark {
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
	&:hover, :focus, :active{
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
}
#about-us-modal{
	.modal-content{
		.scroll{
			&.final{
				transform: rotate(-90deg);
			}
		}
		.space{
			.move-left{
				margin-left: -100%;
			}
			.move-right{
				margin-right: 100%;
			}
		}
	}
}

.about-us{
	width: 87%;
	margin: auto;
	padding: 90px 0px;
	h1{
		letter-spacing: 8px;
		margin-bottom: 30px;
	}
}

.demo{
	height: 140vh;
	h1{
		margin: 50px 0px;
		letter-spacing: 5px;
	}
	.wrapper-text{
		padding: 20px 0px;
	}
	.back-gray{
		background-color: #0e0e0e;
	}
}

.socios{
	height: 100vh;
	h1{
		margin: 50px 0px;
		letter-spacing: 5px;
	}
	#carousel-socios{
		margin-top: 10%;
		.carousel-inner{
			width: 80%;
			margin: auto;
			.carousel-item{
				.banner-socios{
					img{
						max-width: 33.3%;
						margin: auto;
						display: block;
					}
					p{
						text-align: center;
						margin: 20px;
						font-size: 12px;
						opacity: 0.3;
						span{
							display: none;
						}
					}
					.creative-logo{
						width: 100%;
						height: 63px;
						display: block;
						//background-image: url(../img/CREATIVESPACELOGO.png);
						background-repeat: no-repeat;
						background-size: 275px;
						background-position: center;
					}
					&:hover, &.active{
						p{
							opacity: 1;
							span{
								display: inline-block;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
}

.contacto{
	background: url("../img/footer.png");
	background-repeat: no-repeat;
	height: 93vh;
	.scroll{
		transform: rotate(-90deg);
	}
	.follow-us{
		margin-top: 5%;
		ul{
			li{
				color: #fff;
				list-style: none;
			}
		}
		.created-by{
			width: 100%;
			height: 25px;
			background-image: url(../img/CREATIVESPACELOGO.png);
			background-repeat: no-repeat;
			background-size: 210px;
			background-position: 56%;
			padding-left: 37%;
			padding-top: 6px;
			margin-top: 3%
		}
	}
	.form-group{
		input{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid;
			border-bottom-color: rgba(255,255,255, 0.5);
			color: #fff;
			width: 90%;
		}
		input::placeholder{
			color: #fff;
		}
		input:focus{
			outline: none !important;
			border-bottom-color: #fff;
		}
	}
	.btn-submit{
		background-color: transparent;
		border: none;
		padding: 0px;
		color: #fff;
	}
	.email{
		color: #fff;
	}
	.title{
		margin-bottom: 10%;
	}
	.news-letter{
		margin-top: 15%;
		margin-bottom: 5%;
	}
	.redes{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		img{
			margin: 0px 10px;
		}
	}
	.social-media{
		bottom: 0;
	}
}

//css particulas
.animation{
	position: relative;
	width: 100%;
	height: 400px;
	.particle-container{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.particle {
    position: absolute;
    border-radius: 50%;
}

@for $i from 1 through 1000 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(100) * 1vw), (random(70) * 1vh), (random(100) * 1px));
        }
    }
    
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 60s infinite;
        $size: 14px;
        opacity: 1;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(100) * 1vw), (random(70) * 1vh), (random(100) * 1px));
        background: #0e161f;
    }
}

.parpadea{
	animation-name: parpadeo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
  
  @-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	 100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
	0% { opacity: 1.0; }
	 50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }

#cartel-modal{
	.modal-body{
	padding: 0;
	.wrapper-text{
		padding: 180px 30px 30px 30px;
		h1{
			margin-bottom: 40px;
		}
		.sinopsis-cartel{
			font-size: 22px;
			line-height: 1.5;
			&.proximamente{
				font-size: 60px;
				margin-top: 25%;
			}
		}
		.trailer{
			font-size: 22px;
			position: absolute;
			bottom: 0;
			left: 40px;
			width: 90%;
			.youtube{
				width: 40px;
				height: 40px;
				background-image: url('../img/play.svg');
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				right: 0;
				bottom: 10px;
				cursor: pointer;
			}
		}
	}
	}
}

#enfoque-modal, #about-us-modal{
	padding-right: 0px!important;
	width: 100%;
	.scroll{
		left: -75px;
		&.final{
		transform: rotate(-90deg);
		}
	}
	.social-media{
		right: -85px;
	}
	.footer{
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#about-us-modal{
	.story{
		height: 93vh;
		align-items: center;
		display: flex;
	}
	.back{
		height: 63vh;
		.btn-dark{
			margin-top: 13%;
		}
	}
	.section-years{
		height: 70vh;
		.social-media{
			top: 0;
		}
	}
	.team{
		h1{
			margin-bottom: 10%;
		}
	}
	.years{
		p{
			font-size: 200px;
			opacity: 0.5;
			position: absolute;
		}
		p:nth-child(1){
			top: -30%;
			left: 7%;
		}
		p:nth-child(2){
			top: -7%;
			left: 10%;
		}
		p:nth-child(3){
			top: 16%;
			left: 13%;
		}
	}
}