body{
	margin: 0!important;
	background: #000!important;
	& p, span, h1 {
		color: #fff;
		font-family: 'Muli', sans-serif;
	}
}

//Estilos de header
.header{
    width: 100%;
	height: 670px;
	.bd-example{
		position: absolute;
		z-index: 1;
		.carousel-control-prev{
			left: 30%;
			z-index: 9999999;
			span{
				background-image: url('../img/left.png');
				margin-top: 70px;
			}
		}
		.carousel-control-next{
			right: 26%;
			z-index: 999999;
			span{
				background-image: url('../img/right.png');
				margin-top: 70px;
			}
		}
		.carousel-caption{
			right: 0;
			bottom: 38.5%;
			left: 0;
			p{
				position: absolute;
				bottom: 40px;
				left: 37.5%;
				font-size: 38px;
				letter-spacing: 10px;
				margin-bottom: 5px;
				font-family: 'Muli', sans-serif;
				
			}
		}
		.progress-cart{
			display: flex;
			font-size: 8px;
			width: 29%;
			margin: auto;
			top: 0px;
			position: absolute;
			left: 39%;
			.number{
				margin-top: 2px;
			}
			.progress{
				width: 80%;
				height: 2px;
				background: gray;
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 5px;
				margin-top: 6px;
				.full{
					width: 14.28%;
					height: 2px;
					background: lightgray;
					border-radius: 5px;
					&.two{
						width: 28.56%!important;
					}
					&.three{
						width: 42.84%!important;
					}
					&.four{
						width: 57.12%!important;
					}
					&.five{
						width: 71.40%!important;
					}
					&.six{
						width: 85.68%!important;
					}
					&.seven{
						width: 100%!important;
					}
				}
			}
		}
	}
	.navigation-bar{
		position: absolute;
		width: 100%;
		z-index: 3;
	}
	.container-fluid{
		display: flex;
    	position: absolute;
    	height: 50%;
    	top: 20%;
	}
}

.b-middle{
	bottom: 60%!important;
}
.enfoque{
	position: relative;
	padding: 30px 0px;
	.row-enfoque{
		padding: 0;
		.enfoque-image{
			width: 100%;
		}
		p{
			position: absolute;
			text-align: center;
			width: 100%;
			top: 37%;
			color: white;
			line-height: 0.8;
			&.go{
				font-size: 50px;
				top: 53%;
				cursor: pointer;
			}
			&.title{
				font-size: 100px;
			}
		}
	}
	
}

.cartelera{
	position: relative;
	padding: 30px 0px;
	.wrapper-card{
		display: flex;
		.card-image{
			width: 22%;
			height: 22%;
			background: red;
		}
	}
}

.top-20{
	top: 20%!important;
}


//Elementos separados
.scroll{
	color: #fff;
	transform: rotate(90);
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	font-family: 'Muli', sans-serif;
	position: absolute;
	font-size: 8px;
	bottom: 0;
	cursor: pointer;
	.icon-scroll{
		margin-left: 7px;
		font-size: 12px;
	}
}

.social-media{
	position: absolute;
	right: 0px;
	display: grid;
	a{
		color: #fff;
		text-decoration: none;
		padding: 15px 35px;
		position: relative;
		font-family: sans-serif;
		font-size: 11px;
		.tooltip{
			position: absolute;
			right: 58px;
			width: 180px;
			top: 0px;
			display: none;
			font-family: serif;
			text-align: left;
			font-size: 10px;
		}
		.share{
			background-image: url('../img/icon-share.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 14px;
			height: 14px;
			display: block;
		}
		&:hover{
			background-image: url('../img/AZULTWITTER.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			color: white;
			text-decoration: none;
			.tooltip{
				display: block;
				opacity: 1;
			}
		}
	}
	p{
		color: #fff;
		font-size: 10px;
		text-align: center;
		font-family: 'Muli', sans-serif;
		&:first-of-type{
			margin-top: 25px;
		}
	}
	.progress{
		width: 2px;
		height: 30px;
		background: gray;
		margin: auto;
		border-radius: 5px;
		.fill{
			width: 2px;
			height: 70%;
			background: lightgray;
			border-radius: 5px;
		}
	}
}

.navigation-bar{
	color: #fff;
	display: flex;
	.icon-cinema{
		display: inline-flex;
		width: 200px;
		height: 100px;
		background-image: url(../img/logo226.svg);
		background-repeat: no-repeat;
		background-position: 40px 20px;
		background-size: 70px;
	}
	ul{
		list-style-type: none;
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		li{
			padding: 30px 20px;
			font-family: 'Muli', sans-serif;
			font-size: 12px;
			visibility: visible;
			transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);;
			opacity: 1;
			cursor: pointer;
			.icon-menu{
				width: 50px;
				height: 35px;
				display: block;
				background-image: url(../img/barras_del_menu.svg);
				background-repeat: no-repeat;
				margin-top: -6px;
				background-position: bottom;
			}
		}
		&.ocult-all{
			li{
				visibility: hidden;
				opacity: 0;
				transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);;
				&:last-of-type{
					visibility: visible;
  					opacity: 1;
				}
			}
		}
	}
}

.modal{
	.modal-lg{
		max-width: 95% !important;
	}
	.modal-content{
		background: #000;
	}
	.modal-header{
		border-bottom: none;
		justify-content: center;
	}
	.modal-body{
		.gray{
			color: #626166;
			background-image: url("../img/pizarra.png");
			background-repeat: no-repeat;
			background-position-x: right;
			padding-right: 37px;
			&.second{
				background-position: 53px 0px;
			}
		}
		img{
			width: 100%;
			margin-bottom: 20px;
		}
		.early-years{
			margin-left: 40px;
		}
		.space{
			padding: 15px 10px;
		}
		.ef-img-modal{
			position: relative;
			.title{
				position: absolute;
				top: 33%;
				font-size: 90px;
				text-align: center;
				width: 100%
			}
		}
	}
	.modal-footer{
		justify-content: center;
		border-top: none;
		.btn-dark {
			color: #fff;
			background-color: #000;
			border-color: #000;
		}
		&:hover, :focus, :active{
			color: #fff;
			background-color: #000;
			border-color: #000;
		}
	}
}

.about-us{
	height: 70vh;
	.content{
		h1{
			letter-spacing: 5px;
		}
	}
}

.demo{
	height: 140vh;
	h1{
		margin: 50px 0px;
		letter-spacing: 5px;
	}
	.wrapper-text{
		padding: 20px 0px;
	}
	.back-gray{
		background-color: #0e0e0e;
	}
}

.socios{
	height: 100vh;
	h1{
		margin: 50px 0px;
		letter-spacing: 5px;
	}
	#carouselSocios{
		.carousel-inner{
			.carousel-item{
				img{
					max-width: 33.3%;
				}
				.carousel-caption{
					right: 6%;
					left: 6%;
				}
			}
		}
	}
}