@font-face { font-family: D-DIN-Bold; src: url(../fonts/D-DIN-Bold.otf);}
@font-face { font-family: D-DIN-Italic; src: url(../fonts/D-DIN-Italic.otf);}
@font-face { font-family: D-DIN; src: url(../fonts/D-DIN.otf);}
@font-face { font-family: D-DINCondensed-Bold; src: url(../fonts/D-DINCondensed-Bold.otf);}
@font-face { font-family: D-DINCondensed; src: url(../fonts/D-DINCondensed.otf);}
@font-face { font-family: D-DINExp-Bold; src: url(../fonts/D-DINExp-Bold.otf);}
@font-face { font-family: D-DINExp-Italic; src: url(../fonts/D-DINExp-Italic.otf);}
@font-face { font-family: D-DINExp; src: url(../fonts/D-DINExp.otf);}


@font-face { font-family: twecenRegular; src: url(../fonts/twcenclassmtstd-regular.otf);}
@font-face { font-family: twecenBold; src: url(../fonts/twcenmtstd-bold.otf);}
@font-face { font-family: twecenBoldCond; src: url(../fonts/twcenmtstd-boldcond.otf);}
@font-face { font-family: twecenMedium; src: url(../fonts/twcenmtstd-mediumcond.otf);}
@font-face { font-family: twecenLight; src: url(../fonts/twcenmtstd-light.otf);}
//@font-face { font-family: Arquitecta; src: url('../fonts/Arquitecta\ W00\ Regular.ttf');}
//@font-face { font-family: ArquitectaM; src: url('../fonts/ArquitectaMedium.ttf');}
//@font-face { font-family: ArquitectaBold; src: url('../fonts/ArquitectaBold.ttf');}


body{
	margin: 0!important;
	background: #000!important;
	overflow-x: hidden;
	& p, span, h3, h5, a, li, button {
		color: #fff;
		font-family: 'twecenLight';
		letter-spacing: 4px;
		
	}
	h1{
		color: #fff;
		font-family: 'twecenBold';
		letter-spacing: 5px;
	}
	
}

.cursor-pointer{
	cursor: pointer;
}

//Estilos de header
.header{
    width: 100%;
	min-height: 1050px;
	position: relative;
	.bd-example{
		position: absolute;
		z-index: 1;
		width: 100%;
		.carousel-control-prev{
			left: 3.5%;
			top: 49.8%;
			z-index: 9999999;
			width: 60px;
			height: 60px;
			span{
				background-image: url('../img/left.png');
			}
		}

		.carousel-control-next{
			left: 33%;
			top: 49.8%;
			z-index: 9999999;
			width: 60px;
			height: 60px;
			span{
				background-image: url('../img/right.png');
			}
		}
		.carousel-caption{
			right: 0;
			bottom: 38.5%;
			left: 0;

			p{
				position: absolute;
				bottom: 90px;
				left: 100px;
				font-size: 22px;
				letter-spacing: 8px;
				margin-bottom: 5px;
				//font-family: 'Muli', sans-serif;
				&.movie{
					bottom: 40px;
					display: block;
					letter-spacing: 3px;
					font-size: 16px;
				}
				&.amazon{
					bottom: 15px;
					display: block;
					letter-spacing: 4px;
					font-size: 16px;
				}
			}
		}
		.progress-cart{
			display: flex;
			font-size: 10px;
			width: 29%;
			margin: auto;
			top: -55px;
			position: absolute;
			left: 100px;
			.number{
				margin-top: 0px;
			}
			.progress{
				width: 80%;
				height: 2px;
				background: gray;
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 5px;
				margin-top: 6px;
				.full{
					width: 14.28%;
					height: 2px;
					background: lightgray;
					border-radius: 5px;
					&.two{
						width: 16.6%!important;
					}
					&.three{
						width: 33.2%!important;
					}
					&.four{
						width: 49.8%!important;
					}
					&.five{
						width: 83%!important;
					}
					&.six{
						width: 100%!important;
					}
					&.seven{
						width: 100%!important;
					}
				}
			}
		}
	}
	.navigation-bar{
		position: absolute;
		width: 100%;
		z-index: 3;
		.icon-menu{
			margin-right: 0px;
		}
	}
	.container-fluid{
		display: flex;
    	position: absolute;
    	height: 40%;
		top: 13%;
		z-index: 999;
	}
	.scroll{
		bottom: 50%;
	}
}

.b-middle{
	bottom: 60%!important;
}
.enfoque{
	position: relative;
	padding: 30px 0px;
	perspective: 2px;
	.row-enfoque{
		padding: 0;
		background-image: url('../img/nuestro\ enfoque.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		height: 560px;
		display: flex;
		align-items: center;
		justify-content: center;
		.enfoque-image{
			width: 100%;
		}
		p{
			font-family: 'twecenBold'!important;
			position: relative;
			text-align: center;
			color: white;
			line-height: 0.8;
			margin: auto;
			opacity: 1;
			font-size: 50px;
			.go{
				font-size: 40px;
				font-family: 'twecenBold'!important;
				cursor: pointer;
			}
			&.title{
				font-size: 100px;
			}
		}
	}
	
}

.cartelera{
	position: relative;
	padding: 30px 0px;
	h1{
		margin-bottom: 40px;
	}
	.wrapper-card{
		display: flow-root;
		position: relative;
		width: 100%;
		padding: 0;
		.card-image{
			width: 30%;
			display: inline-grid;
			margin: 2.1%;
			height: 315px;
			position: relative;
			&:hover{
				opacity: 0.4;
			}
			&:nth-of-type(3n){
				margin-right: 0px;
			}
			&:nth-of-type(4), &:first-of-type, &:nth-of-type(7){
				margin-left: 0px;

			}
			img{
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
			p{
				position: absolute;
				top: 40%;
				width: 100%;
				text-align: center;
				margin-bottom: 5px;
				font-size: 23px;
				cursor: pointer;
			}
			.separator{
				width: 30%;
				height: 2px;
				background-color: white;
				position: absolute;
				position: absolute;
				top: 10px;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}

.servicios{
	h1{
		margin-bottom: 40px;
	}
	.services{
		width: 180px;
		height: 200px;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		&.serv-1{
			background-image: url('../img/mov-ie\ vans.png');
			float: left;
			margin-right: 15px;
			background-size: 374%;
			background-position: -247px;
		}
		&.serv-2{
			background-image: url('../img/pcm\ post.png');
			float: right;
			margin-left: 15px;
			background-size: 374%;
			background-position: -247px;
		}
		&.serv-3{
			background-image: url('../img/contabilidad\ de\ produccion.png');
			float: left;
			margin-right: 15px;
			background-size: 381%;
			background-position: -258px;
		}
		&.serv-4{
			background-image: url('../img/producción\ de\ realidad\ aumentada.png');
			float: right;
			margin-left: 15px;
			background-size: 381%;
			background-position: -258px;
		}
		&.serv-5{
			background-image: url('../img/servicios\ a\ la\ producción.png');
			float: left;
			margin-right: 15px;
			background-size: 381%;
			background-position: -258px;
		}
		&.serv-6{
			background-image: url('../img/servicios\ de\ producción.png');
			float: right;
			margin-left: 15px;
			background-size: 390%;
			background-position: -260px;
		}
	}
	.title{
		margin-top: 60px;
		margin-bottom: 32px;
		font-size: 23px;
	}
	#carousel-services{
		width: 80%;
		margin: auto;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		.description{
			font-size: 16px;
			.flecha{
				cursor: pointer;
			}
		}
		.carousel-indicators{
			bottom: 30%;
			li{
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}
		}
		.figure-l{
			width: 70%;
			height: 104px;
			position: absolute;
			z-index: -1;
			&.b-top{
				border-top: 2px solid white;
				border-right: 2px solid white;
				right: -1px;
				top: 100px;
			}
			&.b-bottom{
				border-bottom: 2px solid white;
				border-left: 2px solid white;
				bottom: 100px;
				left: -1px;
			}
		}
		.carousel-control-prev{
			width: 50px;
			height: 50px;
			top: 63%;
			position: absolute;
			left: 44%;
		}
		.carousel-control-next{
			width: 50px;
			height: 50px;
			top: 63%;
			position: absolute;
			right: 44%;
		}
		.carousel-control-next-icon, .carousel-control-prev-icon{
			width: 12px;
			height: 12px;
		}
		.move-left{
			margin-left: -30%;
			animation-name: unirA;
			animation-duration: 6s;
			opacity: 1;
		}
		.move-right{
			margin-left: 80%;
			animation-name: unirB;
			animation-duration: 6s;
			opacity: 1;
		}
	}
	.services-image{
		display: flow-root;
		.servicio-card{
			display: inline-grid;	
			width: 29%;
			height: 30%;
			position: relative;
			margin: 16px;
		}
		.services{
			width: 100%;
			height: 260px;
			background-position: center center;
			margin-left: 0px;
			margin-right: 0px;
			float: none;
			background-size: 239%;
		}
		.title{
			position: relative;
			font-size: 16px;
			margin: auto;
			text-align: center;
			margin-top: 20px;
		}
	}
}

@keyframes unirA {  
	0%{
		opacity: 0;
		transition: all 4s ease;
	}
	100%{ 
		margin-left: 0px;
		opacity: 1;
		transition-duration: 9s;
	}  
 }
 @keyframes unirB {  
	0%{
		opacity: 0;
		transition: all 4s ease;
	} 
	100%{ 
		margin-left: 49%;
		opacity: 1;
		transition-duration: 9s;
	}  
 }

.servicios{
	position: relative;
	padding: 30px 0px;
}

.top-20{
	top: 20%!important;
}


//Elementos separados
.scroll{
	color: #fff;
	font-family: 'twecenMedium';
	position: absolute;
	background-image: url('../img/SCROLLWEB.svg');
	background-repeat: no-repeat;
	background-size: 300%;
    display: block;
    width: 45px;
    height: 116px;
    background-position: center center;
	cursor: pointer;
	&.up{
		background-image: url('../img/SCROLLUPWEB.svg');
	}
}

.social-media{
	position: absolute;
	right: 0px;
	display: grid;
	z-index: 0;
	a{
		color: #fff;
		text-decoration: none;
		padding: 15px 35px;
		letter-spacing: 0px;
		position: relative;
		//font-family: sans-serif;
		font-size: 14px;
		.tooltip{
			position: absolute;
			right: 58px;
			width: 180px;
			top: 14px;
			display: none;
			font-family: 'twecenRegular';
			text-align: left;
			font-size: 12px;
		}
		.share{
			background-image: url('../img/icon-share.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 14px;
			height: 14px;
			display: block;
		}
		&:hover{
			background-image: url('../img/AZULTWITTER.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 16px 0px;
			color: white;
			text-decoration: none;
			text-align: center;
			.tooltip{
				display: block;
				opacity: 1;
			}
		}
		&.share-hover:hover{
			background-image: none!important;
		}
	}
	p{
		color: #fff;
		font-size: 16px;
		text-align: center;
		//font-family: 'Muli', sans-serif;
		&:first-of-type{
			margin-top: 25px;
		}
		&:last-of-type{
			font-family: 'twecenBold';
		}
	}
	.progress{
		width: 2px;
		height: 30px;
		background: gray;
		margin: auto;
		border-radius: 5px;
		.fill{
			width: 2px;
			height: 14.28%;
			background: lightgray;
			border-radius: 5px;
			&.filled-2{
				height: 28.56%;
			}
			&.filled-3{
				height: 42.84%;
			}
			&.filled-4{
				height: 57.12%;
			}
			&.filled-5{
				height: 71.4%;
			}
			&.filled-6{
				height: 85.68%;
			}
			&.filled-7{
				height: 100%;
			}
		}
	}
}

.navigation-bar{
	color: #fff;
	display: flex;
	.icon-cinema{
		display: inline-flex;
		width: 200px;
		height: 100px;
		background-image: url(../img/logo226.svg);
		background-repeat: no-repeat;
		background-position: 40px 20px;
		background-size: 70px;
		position: absolute;
	}
	ul{
		list-style-type: none;
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		li{
			padding: 30px 20px;
			//font-family: 'Muli', sans-serif;
			font-size: 16px;
			visibility: visible;
			transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
			opacity: 1;
			cursor: pointer;
			.icon-menu{
				width: 50px;
				height: 35px;
				display: block;
				background-image: url(../img/barras_del_menu.svg);
				background-repeat: no-repeat;
				margin-top: 0px;
				background-position: bottom;
				margin-right: 10px;
			}
		}
		&.principal{
			li{
				color: white;
			}
		}
		&.ocult-all{
			li{
				visibility: hidden;
				opacity: 0;
				transition: visibility 1s, opacity 2s cubic-bezier(0.4, 0, 0.2, 1);;
				&:last-of-type{
					visibility: visible;
  					opacity: 1;
				}
			}
		}
	}
}

.modal{
	.modal-lg{
		max-width: 95% !important;
	}
	.modal-content{
		background: #000;
	}
	.modal-header{
		border-bottom: none;
		justify-content: center;
	}
	.modal-body{
		.gray{
			color: #626166;
			background-image: url("../img/pizarra.png");
			background-repeat: no-repeat;
			background-position-x: right;
			padding-right: 37px;
			&.second{
				background-position: 53px 0px;
			}
		}
		img{
			width: 100%;
			margin-bottom: 20px;
		}
		.early-years{
			margin-left: 40px;
		}
		.space{
			padding: 15px 10px;
			display: inline-flex;
			flex-wrap: nowrap;
			.move-left{
				margin-left: -40%;
			}
			.move-right{
				margin-left: 83%;
			}
		}
		.img-modal{
			position: relative;
			.title{
				position: absolute;
				top: 33%;
				font-size: 90px;
				text-align: center;
				width: 100%
			}
		}
	}
	.btn-dark {
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
	&:hover, :focus, :active{
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
}

#about-us-modal{
	.modal-content{
		.icon-us{
			width: 100%;
			height: 200px;
			font-size: 135px;
			text-align: center;
			-webkit-text-stroke: 1px white;
			color:#000;
			//background-image: url(../img/thestorybegins.png);
			//background-repeat: no-repeat;
			//background-size: 550%;
			display: block;
			//background-position: center center;
		}
		.scroll{
			&.final{
				transform: rotate(-180deg);
			}
		}
	}
}

.about-us{
	width: 50%;
	margin: auto;
	padding: 90px 0px;
	display: flex;
    align-items: center;
    justify-content: center;
	h1{
		letter-spacing: 8px;
		margin-bottom: 30px;
	}
}

.demo{
	height: 125vh;
	h1{
		margin: 50px 0px;
		letter-spacing: 5px;
	}
	.p-relative{
		position: relative;
	}
	.wrapper-text{
		padding: 20px 0px;
	}
	.back-gray{
		background-color: #0e0e0e;
		position: absolute;
		height: 100%;
		width: 90%;
		top: 0px;
		right: -81%;
		overflow: hidden;
	}
	.social-media{
		top: 0;
	}
}

.socios{
	height: 110vh;
	h1{
		margin: 10px 0px;
		letter-spacing: 5px;
	}
	#carousel-socios{
		margin-top: 10%;
		.carousel-inner{
			width: 80%;
			margin: auto;
			.carousel-item{
				.banner-socios{
					cursor: pointer;
					img{
						max-width: 33.3%;
						margin: auto;
						display: block;
					}
					p{
						text-align: center;
						margin: 20px;
						font-size: 16px;
						opacity: 0.3;
						span{
							display: none;
						}
					}
					&:hover, &.active{
						.logo-socio{
							opacity: 1;
						}
						p{
							opacity: 1;
							span{
								display: inline-block;
								margin-left: 5px;
							}
						}

					}
				}
			}
		}
	}
	.logo-socio{
		width: 100%;
		height: 120px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		opacity: 0.3;
		&.creative{
			background-image: url('../img/CREATIVESPACELOGO.svg');
			background-size: cover;
		}
		&.apapacho{
			background-image: url('../img/socios/apapachoflimslogo.svg');
			background-size: 860px;
		}
		&.bmmaso{
			background-image: url('../img/socios/BMM&ASO.svg');
			background-size: 500px;
		}
		&.chilito{
			background-image: url('../img/socios/EL\ CHILITO\ ENMASCARADO.svg');
			background-size: 730px;
		}
		&.tomatito{
			background-image: url('../img/socios/eltomatitoenmasdcarado.svg');
			background-size: 730px;
		}
		&.framerate{
			background-image: url('../img/socios/framerate.svg');
			background-size: 730px;
		}
		&.escuincla{
			background-image: url('../img/socios/laescuinclaysupiojitologo.svg');
			background-size: 500px;
		}
		&.magofilms{
			background-image: url('../img/socios/magofilmslogo.svg');
			background-size: 1300px;
		}
		&.framebyframe{
			background-image: url('../img/socios/framebyframe.svg');
			background-size: 1300px;
		}
		&.pcmnormal{
			background-image: url('../img/socios/pcmnormal.svg');
			background-size: 640px;
		}
		&.pcmpost{
			background-image: url('../img/socios/pcmpost.svg');
			background-size: 734px;

		}
	}
	.social-media{
		bottom: 10%;
	}
}

.contacto{
	padding: 0;
	.contacto-image{
		background: url(../img/footer.png);
		background-repeat: no-repeat;
		height: 100%;
		background-size: 100% 100%!important;
		background-position: bottom;
	}
	.follow-us{
		margin-top: 60px;
		margin-bottom: 40px;
		ul{
			padding-left: 0px;
			li{
				color: #fff;
				list-style: none;
				cursor: pointer;
			}
		}
		.linkedin{
			width: 20px;
			margin-left: 5px;
		}
		.created-by{
			width: 100%;
			height: 25px;
			background-image: url(../img/CREATIVESPACELOGO_by.svg);
			background-repeat: no-repeat;
			background-size: 300px;
			background-position: center center;
			//padding-left: 37%;
			padding-top: 6px;
			margin-top: 30px;
			margin-bottom: 0px;
		}
	}
	.form-group{
		input{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid;
			border-bottom-color: rgba(255,255,255, 0.5);
			color: #fff;
			width: 90%;
			font-family: 'twecenLight';
		}
		input::placeholder{
			color: #fff;
		}
		input:focus{
			outline: none !important;
			border-bottom-color: #fff;
		}
	}
	.btn-submit{
		background-color: transparent;
		border: none;
		padding: 0px;
		color: #fff;
	}
	.email{
		color: #fff;
	}
	.title{
		margin-bottom: 10%;
		font-family: 'twecenBold';
	}
	.news-letter{
		margin-top: 15%;
		margin-bottom: 5%;
		font-family: 'twecenBold';
	}
	.redes{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		a{
			margin: 0px 10px;
			cursor: pointer;
		}
	}
	.social-media{
		bottom: 0;
	}
}

//css particulas
.animation{
	position: relative;
	width: 100%;
	height: 640px;
	.particle-container{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.particle {
    position: absolute;
    border-radius: 50%;
}

@for $i from 1 through 1000 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(100) * 1vw), (random(70) * 1vh), (random(100) * 1px));
        }
    }
    
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 60s infinite;
        $size: 14px;
        opacity: 1;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(100) * 1vw), (random(70) * 1vh), (random(100) * 1px));
        background: #0e161f;
    }
}

.parpadea{
	animation-name: parpadeo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
  
  @-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }

#cartel-modal, #socios-modal{
	.modal-body{
		padding: 0;
		.wrapper-text{
			padding: 70px 30px 30px 30px;
			&.pad-30{
				padding: 30px 30px 30px 30px;
			}
			a:hover{
				color: #fff!important;
			}
			h1{
				margin-bottom: 40px;
			}
			.letter{
				font-size: 50px;
				color: #fff;
				font-family: 'twecenBold';
				margin-bottom: 20px;
				letter-spacing: 0px;
			}
			.title-socios{
				font-size: 23px;
				margin-bottom: 30px;
			}
			.sinopsis-cartel, .desc-socios{
				font-size: 16px;
				line-height: 1.5;
				&.proximamente{
					font-size: 40px;
					margin-top: 25%;
				}
			}
			.desc-socios{
				&.proximamente{
					margin-top: 5%;
				}
			}
			.trailer, .link{
				font-size: 16px;
				position: absolute;
				bottom: 15px;
				left: 40px;
				width: 90%;
				.youtube{
					width: 40px;
					height: 40px;
					background-image: url('../img/play.svg');
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					right: 0;
					bottom: 10px;
					cursor: pointer;
				}
			}
		}
	}
}

#enfoque-modal, #about-us-modal, #cartel-modal, #socios-modal, #demo-modal{
	padding-right: 0px!important;
	width: 100%;
	.scroll{
		left: -75px;
	}
	.social-media{
		right: -85px;
	}
	.footer{
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#about-us-modal{
	.story{
		height: 93vh;
		align-items: center;
		display: flex;
	}
	.back{
		height: 63vh;
		.btn-dark{
			margin-top: 13%;
		}
	}
	.section-years{
		height: 70vh;
		.social-media{
			top: 0;
		}
	}
	.team{
		h1{
			margin-bottom: 10%;
		}
	}
	.years{
		p{
			font-size: 200px;
			opacity: 0.5;
			position: absolute;
			font-family: 'twecenBold';
		}
		p:nth-child(1){
			top: -30%;
			left: 7%;
		}
		p:nth-child(2){
			top: -7%;
			left: 10%;
		}
		p:nth-child(3){
			top: 16%;
			left: 13%;
		}
	}
}

video{
	outline: none;
}
a:hover{
	color: #fff;
}


@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

@mixin position-center($text-align: center) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: $text-align;
}

.loading {
	margin: 20% auto;
	width: 100%;
	height: 100%;
	position: relative;
	.min-h100 { min-height: 100%; }
	.center { text-align: center; }
	.table {
	display: table;
	width: 100%;
	}
	.table-cell {
	display: table-cell;
	vertical-align: middle;
	}
}



  .primary-element{
	display: none;
  }


  //Vista tablet
  @media only screen and (max-width: 1025px) {
	.header{
		min-height: 695px;
	}
	.navigation-bar{
		ul{
			width: 100%;
			li{
				font-size: 10px;
				padding: 30px 8px;
			}
		}
	}
	.social-media{
		&.mr-3{
			margin-right: 0px!important;
		}
	}
	.scroll{
		&.ml-3{
			margin-left: 0px!important;
		}
	}
	.demo{
		height: 75vh;
		.controls-video{
			bottom: 79px;
			left: 6px;
		}
	}
	.socios{
		height: 75vh;
	}
	.contacto{
		.contacto-image{
			background-position: bottom;
		}
		.created-by{
			background-position: 76%!important;
		}
	}
	.servicios{
		.services-image{
			.servicio-card{
				margin: 11px;
			}
		}
	}
	.cartelera{
		.wrapper-card{
			.card-image{
				height: 220px;
			}
		}
	}
  }

.wrapper-title{
	display: inline-block;
	white-space: nowrap;
	.letter{
		opacity: 1;
		letter-spacing: 0px;
	}
	.efecto{
		animation-name: animar;
		animation-duration: 8s;
		opacity: 1;
		&:nth-child(1){
			transition-delay: 0.6s;
		}
		&:nth-child(2){
			transition-delay: 0.5s;
		}
		&:nth-child(3){
			transition-delay: 0.4s;
		}
		&:nth-child(4){
			transition-delay: 0.3s;
		}
		&:nth-child(5){
			transition-delay: 0.2s;
		}
		&:nth-child(6){
			transition-delay: 0.1s;
		}
		&:nth-child(7){
			transition-delay: 0.09s;
		}
		&:nth-child(8){
			transition-delay: 0.08s;
		}
		&:nth-child(9){
			transition-delay: 0.07s;
		}
		&:nth-child(10){
			transition-delay: 0.06s;
		}
		&:nth-child(11){
			transition-delay: 0.05s;
		}
		&:nth-child(12){
			transition-delay: 0.04s;
		}
		&:nth-child(13){
			transition-delay: 0.03s;
		}
		&:nth-child(14){
			transition-delay: 0.02s;
		}
	}
	div{
		display: inline-block;
	}
}

@keyframes animar {   
	0%{
		transform: rotateY(90deg);
		opacity: 0;
		transform-origin: left;
		transition: all 3s ease;
	}  
	50%{
		transform: rotateY(-90deg);
		opacity: 1;
		transform-origin: left;
		transition: all 2s ease;
	}
	100%{ 
		transform: rotateY(0deg);
		opacity: 1;
		transform-origin: left;
		transition: all 3s ease;
	}  
 }




 //Ejemplos de LOADING

 #loader {
	animation: spin 1s linear infinite;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px;
  }
  
  @keyframes spin {
	0% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	6.25% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	12.5% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	18.75% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	25% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	31.25% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	37.5% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
	43.75% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px #fff, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px transparent;
	}
	50% {
	  box-shadow: 
		0px -30px transparent, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px #fff, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	56.25% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px transparent, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px #fff, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	62.5% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px transparent, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px #fff, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	68.75% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px transparent, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px #fff, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	75% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px transparent, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px #fff, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	81.25% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px transparent, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px #fff, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	87.5% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px transparent, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px #fff,
		-10px -30px #fff;
	}
	93.75% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px transparent, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px #fff;
	}
	100% {
	  box-shadow: 
		0px -30px #fff, 
		10px -30px #fff, 
		20px -20px #fff, 
		30px -10px #fff, 
		30px 0px #fff, 
		30px 10px #fff, 
		20px 20px #fff, 
		10px 30px #fff, 
		0px 30px transparent, 
		-10px 30px transparent, 
		-20px 20px transparent, 
		-30px 10px transparent, 
		-30px 0px transparent, 
		-30px -10px transparent, 
		-20px -20px transparent,
		-10px -30px transparent;
	}
  }
  
  
.controls-video{
	position: absolute;
	bottom: 10px;
	left: 65px;
    width: 57%;
	height: 70px;
	.play{
		background-image: url('../img/playvideo.png');
		height: 50px;
		width: 50px;
		background-size: contain;
		background-position: center center;
		cursor: pointer;
	}
	.pause{
		background-image: url('../img/pausevideo.png');
		display: none;
		height: 50px;
		width: 50px;
		background-size: contain;
		background-position: center center;
		cursor: pointer;
	}
}
  
.scrollUp{
	transform: translateY(-20px);
	opacity: 1;
	transition: all 4s ease;
}

.scrollDown{ 
	transform: translateY(20px);
	opacity: 1;
	transition: all 4s ease;
}

.scrollUpEnfoque{
	transform: translateY(-10px);
	opacity: 1;
	transition: all 2s ease;
}

.scrollDownEnfoque{ 
	transform: translateY(10px);
	opacity: 1;
	transition: all 2s ease;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}

.menu-mobile{
	background: black;
    position: fixed;
    width: 100%;
    height: 100%;
	z-index: 999999999;
	display: none;
	ul{
		display: grid;
		justify-content: center;
		text-align: left;
		margin-top: 50px;
		li{
			padding: 0px 0px!important;
			font-size: 25px;
		}
	}
	.close{
		color: #fff;
		opacity: 1;
		right: 20px;
		position: absolute;
		top: 20px;
	}
}
//Mobile

@media only screen and (max-width: 576px) {
	p{
		font-size: 11px;
	}
	h1{
		font-size: 16px;
	}
	.scroll{
		background-size: 250%!important;
		&.ml-3{
			margin-left: -20px!important;
		}
	}
	.navigation-bar{
		ul{
			li{
				padding: 20px 13px;
			}	
		}
		.icon-cinema{
			width: 80px;
			height: 80px;
			background-position: 15px 10px;
    		background-size: 40px;
		}
		.icon-menu{
			width: 20px!important;
    		height: 23px!important;
			background-size: 35px;
		}
	}
	.header{
		min-height: 120vh;
		.bd-example{
			.carousel-control-prev, .carousel-control-next{
				display: none;
			}
			img{
				min-height: 700px;
			}
			.carousel-caption{
				bottom: 0px;
				left: -77px;
				p{
					font-size: 14px;
					bottom: 84px;
					&.movie{
						bottom: 50px;
						font-size: 12px;
					}
					&.amazon{
						bottom: 33px;
						font-size: 11px;
					}
				}
			}
			.progress-cart{
				display: none;
			}
			.carousel-indicators{
				left: 0px;
				bottom: 9%;
				justify-content: flex-start;
				margin-left: 20px;
				li{
					width: 5px;
					height: 5px;
					margin-left: 5px;
					margin-right: 5px;
					border-radius: 50%;
				}
			}
		}
		.scroll{
			left: 0px;
			bottom: 0px;		
		}
	}
	.container-fluid{
		height: 25%;
		top: 16%;
	}
	.social-media{
		a{
			padding: 6px 13px;
			font-size: 11px;
			.share{
				display: none;
			}
			&:hover, &:active{
				background-image: none;
			}
		}
		p{
			font-size: 10px;
			&:first-of-type{
				margin-top: 2px;
				margin-bottom: 2px;
			}
		}
		.mt-3{
			margin-top: 2px!important;
		}
		&.mr-3{
			margin-right: 9px!important;
		}
		.progress{
			height: 25px;
		}
		.tooltip{
			display: none!important;
		}
	}
	.about-us{
		width: 65%;
		padding: 10px 0px;
		text-align: center;
		height: 75vh;
	}
	.enfoque{
		height: 75vh;
		.row-enfoque{
			height: 215px;
			background-size: 95%;
			background-position: center;
			margin-top: 50px;
			p{
				font-size: 16px!important;
    			text-align: left;
			}
			.go{
				font-size: 16px!important;
			}
		}
	}
	.cartelera{
		height: 150vh;
		.wrapper-card{
			padding-left: 10px;
			.card-image{
				width: 48%;
				margin: 0px;
				height: 158px;

				.separator{
					display: none;
				}
				p{
					font-size: 10px;
					top: 44%;
				}
			}
		}
	}
	.demo{
		height: 58vh;
		h1{
			margin: 0px;
		}
		.wrapper-text{
			padding: 0px;
			video{
				width: 92%;
    			height: 280px;
				margin: auto;
				display: block;
			}
			.controls-video{
				bottom: 11px;
    			left: 20px;
				width: 22%;
				height: 62px;
				.pause, .play{
					height: 30px;
					width: 30px;
				}
			}
		}
		.social-media{
			margin-top: 72px;
		}
	}
	.servicios{
		height: 75vh;
		.services-image{
			display: flow-root;
			.servicio-card{
				display: inline-grid;	
				width: 28%;
				height: 30%;
				position: relative;
				margin: 5px;
			}
			.services{
				width: 100%;
				height: 90px;
				background-position: center;
				background-size: 358%;
				margin-left: 0px;
				margin-right: 0px;
			}
			.title{
				display: none;
				position: absolute;
				top: 48%;
				font-size: 8px;
				margin: auto;
				left: 0px;
				right: 0;
				text-align: center;
			}
		}
		.social-media{
			bottom: 10px;
		}
	}
	.socios{
		height: 112vh;
		h1{
			margin: 0px;
		}
		.lista-socios{
			display: flow-root;
			margin: auto;
			width: 75%;
			.banner-socios{
				display: inline-grid;
				width: 35%;
				height: 82px;
				margin: 10px 11px;
				.logo-socio{
					background-size: 500%!important;
					opacity: 1;
					&.creative{
						background-size: contain!important;
					}
				}
			}
		}
	}
	.contacto{
		.contacto-image{
			background-image: url('../img/FOTTERMOBILIMAGEN.png');
			background-size: cover!important;
		}
		h5{
			font-size: 14px;
			margin-bottom: 5px!important;
		}
		.mt-5{
			margin-top: 0px!important;
		}
		p{
			font-size: 11px;
		}
		.col-10{
			padding-left: 42px;
			padding-right: 42px;
		}
		.follow-us{
			margin-top: 12px;
			margin-bottom: 12px;
			.created-by{
				background-size: 190px;
				background-position: center center!important;
			}
		}
		.news-letter{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.form-group{
			input{
				width: 55%;
				font-size: 11px;
			}
		}
		.redes{
			margin-bottom: 0px;
		}
		.social-media{
			&.mr-5{
				margin-right: 25px!important;
			}
		}
	}
	#about-us-modal{
		.modal-content{
			.story{
				height: 33vh;
			}
			.icon-us{
				font-size: 35px;
				height: auto;
			}
			.space{
				height: auto;
				&.section-years{
					margin-left: 0%
				}
				.move-left, .move-right{
					margin-left: 0px!important;
				}
			}
			.back{
				height: 33vh;
			}
			.scroll{
				left: -25px;
				top: 130px;
			}
			.early-years{
				margin-left: 0px;
			}
			.section-years{
				height: 38vh;
			}
		}
	}
	#enfoque-modal{
		.modal-body{
			.desc{
				line-height: 50px;
			}
			.footer{
				height: 10vh;
			}
			.title-mobile{
				font-family: 'twecenBold';
				font-size: 14px;
			}
		}
	}
	#cartel-modal{
		.modal-body{
			.wrapper-text{
				padding: 0px 30px 30px 30px;
				.sinopsis-cartel{
					line-height: 3.5;
					text-align: justify;
				}
			}
		}
	}
	#socios-modal{
		.wrapper-text{
			.desc-socios{
				text-align: justify;
				&.proximamente{
					font-size: 35px !important;
				}
			}
			.link{
				left: 46px !important;
			}
		}	
	}
}

.modal{
	.modal-dialog{
		height: 100%;
	}
	h1{
		letter-spacing: 0px!important;
	}
}
